button {
    outline: none;
}

.bg--pink {
    background-color: rgb(254, 1, 149);
}
.bg--blue {
    background-color: #38c6ff;
}
.bg--indigo {
    background-color: rgb(8, 20, 119);
}
.bg--gray-10 {
    background-color: rgb(242, 244, 247);
}
.bg--gray-20 {
    background-color: rgb(229, 233, 242);
}
.clr--indigo {
    color: rgb(8, 20, 119);
}
.clr--blue {
    color: #38c6ff;
}
.clr--gray-10 {
    color: rgb(210, 214, 230);
}
.clr--gray-20 {
    color: rgb(185, 193, 217);
}
.placeholder--indigo::placeholder {
    color: rgb(8, 20, 119);
}

.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    
    &.loader-small {
        width: 14px;
        height: 14px;
    };
    &.loader-large {
        border: 40px solid #f3f3f3; /* Light grey */
        border-top: 40px solid #3498db; /* Blue */
        width: 200px;
        height: 200px;
        position: absolute;
        top: calc(50% - 50px);
        left: calc(50% - 50px);
    };
}
